<!---->
<!-- <h1>{{var_one| uppercase}}</h1>
<h1 style="color: red">{{var_two | lowercase}}</h1>

<h1>{{var_three | titlecase}}</h1>
<h1>{{var_four| number: "3.2-5" }}</h1>
<h1>{{var_four | number : "6.2-4"}}</h1>
<h1> {{var_five | json}}</h1>
<h1>{{ var_six | date:" dd-MM-yy "}}</h1>
<h1>{{var_six | date:"dd-MMM-yyyy"}}</h1>
<h1> {{var_six | date: "short" }}</h1>
<h1>{{var_six |date: "medium"}}</h1>
<h1>{{var_six | date: "fullDate"}}</h1>

<h1>{{var_seven | slice: 1:3}}</h1>
<h1> {{var_seven | slice : 4:6}}</h1>

<h1> {{var_eight | number}}
<h1>{{var_eight | currency :"INR"}}</h1>
<h1>{{var_eight | currency :"GBP"}}</h1>
<h1>{{var_ten | async}}</h1>
<h2> {{ var_ten | async}}</h2> -->
<h1>{{my_var | reverse}}</h1>
<h1>{{msg3 | testpipe:msg2:msg1}}</h1>